<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Financiación exclusiva</h2>
                    <p>¡Con Carwow vas a poder financiar el auto de tus sueños sin ningun tipo de complicacion!</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Entrega personal a cualquier parte del mundo</h2>
                    <p>Tenemos un servicio de entrega unico y exclusivo. Te entregamos tu auto en la puerta de tu casa dentro de las 2 semanas despues de la compra.</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Seguridad y garantia</h2>
                    <p>Las transacciones son ultra-seguras y ademas proprocionamos una garantia anual renovables sobre el auto que te lleves.</p>
                </article>
            </div>
        </div>
    </div>
    <div>
        <p>Creado por: Martin Lotz - Benjamin Peña - Manuel Espora</p>
    </div>
</footer> 
