<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<% if(!auth){%>
		<%- include('./partials/header')%>
	<% } else{ %> 
		<%- include('./partials/headerLogueado')%> 
	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			
			<div class="formulario-product-add">
				<form action="/" method="GET">
					<p><label for="imagen">Imagen:</label></p>
					<p><input type="file" id="Imagen" name="Imagen"></p>

					<p><label for="te">Nombre del Producto:</label></p>
					<p><input type="text" id="Nombre del Producto" name="Nombre del Producto"></p>

					<p><label for="text">Descripción:</label></p>
					<p><input type="text" id="Descripción" name="Descripción"></p>

					<p><label for="fecha">Fecha de Carga</label></p>
					<p><input type="date" id="Fecha de Carga" name="Fecha de Carga"></p>

					<p><input type="submit" value="Enviar"></p>
				</form>
			</div>
		</div>
	</div>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>