<form action="/product/store" method="POST" enctype="multipart/form-data">

    <label for="file">Foto del Producto</label>
    <input type="file" id="Foto-del-Producto" name="fotodelproducto">
    
    <label for="text">Nombre del Producto:</label>
    <input type="text" id="nombredelproducto" name="nombredelproducto">

    <label for="text">Descripción:</label>
    <input type="text" id="descripcion" name="descripcion">

    <button type="submit">Publicar</button>
</form>

