<form action="/product/store" method="POST" enctype="multipart/form-data">

    <label for="file">Foto del Producto</label>
    <input type="file" name="url_image" value="">
    
    <label for="text">Nombre del Producto:</label>
    <input type="text" name="name" value="">

    <label for="text">Descripción:</label>
    <input type="text" name="description" value="">

    <button type="submit">Publicar</button>
</form>

