<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<% if(!auth){%>
		<%- include('./partials/header')%>
	<% } else{ %> 
		<%- include('./partials/headerLogueado')%> 
	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div  class="formulario-pe">
              	<form action="/user/profile" method="GET">
                 	<p><label for="email">Email</label></p>
                    <p><input type="text" id="Email" name="email"></p>

                    <p><label for="text">Usuario</label></p>
                    <p><input type="text" id="Usuario" name="usuario"> </p>

                    <p><label for="contraseña">Contraseña</label></p>
                    <p><input type="password" id="Contraseña" name="contraseña"></p>

                	<p><label for="fecha">Fecha de Nacimiento</label></p>
                	<p><input type="number" id="Fecha de Nacimiento" name="Fecha de Nacimiento"></p>

                	<p><label for="numérico">Numero de Documento</label></p>
                	<p><input type="number" id="Numero de Documento" name="Numero de Documento"></p>

                	<p><label for="file">Foto de Perfil</label></p>
                    <p><input type="file" id="Foto de Perfil" name="Foto de Perfil"></p>

                    <p><input type="submit" value="Enviar"></p>
                </form>
            </div>
		</div>
	</div>	
	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>