<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
				<div class="formulario-login">
					<form action="/user/login" method="POST">
						<p><label for="mail">Mail:</label></p>
						<p><input type="email" id="mail" name="email"> </p>

					    <p><label for="password">Contraseña:</label></p>
					    <p><input type="password" id="password" name="password"></p>

						<p><label for="recordarme">Recordarme:</label></p>
						<p><input type="radio" name="opción" value="Si">Si</p>
						<p><input type="radio" name="opción" value="No">No</p>

						<p><input type="submit" value="Enviar"></p>
					</form>
				</div>
			</div>
		</div>
	</div>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>