<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
				<div class="formulario-login">
					<form action="/" method="GET">
						<p><label for="text">Usuario:</label></p>
						<p><input type="text" id="Usuario" name="usuario"> </p>

					    <p><label for="contraseña">Contraseña:</label></p>
					    <p><input type="password" id="Contraseña" name="contraseña"></p>

						<p><label for="recordarme">Recordarme:</label></p>
						<p><input type="radio" name="opción" value="Si">Si</p>
						<p><input type="radio" name="opción" value="No">No</p>

						<p><input type="submit" value="Enviar"></p>
					</form>
				</div>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>