<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				lista de productos
			</h2>
			<form action="/product/list" method="GET" enctype="multipart/form-data">
				<label>Buscar</label>
				<input type="search" name="search" placeholder="Ferrari F50">
				<input type="submit" value="Buscar">
			</form>

			<% productos.forEach(producto => %>
				<div>
					<p> <%= producto.name %> </p>
				</div>
			<% ) %>
	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>