<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	</header>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
				<div class="formulario-register">
					<form action="/user/register" method="POST" enctype="multipart/form-data">
	
                		<label for="email">Email</label>
                		<input type="text" id="Email" name="email">

                		<label for="text">Nombre</label></p>
                		<input type="text" id="name" name="name">

						<label for="text">Apellido</label></p>
                		<input type="text" id="surname" name="surname">

                		<label for="contraseña">Contraseña</label></p>
                		<input type="password" id="password" name="password">

                		<label for="fecha">Fecha de Nacimiento</label>
                		<input type="date" id="Fecha-de-Nacimiento" name="fecha_de_nacimiento">

                		<label for="numérico">Numero de Documento</label>
                		<input type="number" id="Numero-de-Documento" name="numero_de_documento">

                		<label for="file">Foto de Perfil</label>
                		<input type="file" id="Foto-de-Perfil" name="fotodeperfil">

               			<input type="submit" value="Enviar">
					</form>
				</div>
		</div>
	</div>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>